<a href="https://colab.research.google.com/github/DasariNandini/pandas-assignment/blob/main/pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/data for aSSIGNMENT/Advanced_Dirty_Sales_Dataset.csv")

In [ ]:
# 1.	Load the dataset and print the shape, column names, and data types.
data.shape

(100100, 12)

In [ ]:
data.columns

Index(['OrderID', 'CustomerID', 'CustomerName', 'Product', 'Category',
       'Quantity', 'Price', 'OrderDate', 'City', 'Region', 'Returned',
       'TotalAmount'],
      dtype='object')

In [ ]:
data.dtypes

OrderID          int64
CustomerID       int64
CustomerName    object
Product         object
Category        object
Quantity        object
Price           object
OrderDate       object
City            object
Region          object
Returned          bool
TotalAmount     object
dtype: object

In [ ]:
# 2.	Show the first 10 and last 10 rows of the dataset.
data.head(10)

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,False,1644.8
5,56788,6935,@ david !,Monitor,Electronics,1,$415.12,"October 06, 2024",LOS ANGELES#123,West,False,415.12
6,63473,2787,@ bob !,Tablet,Electronics,3,$677.7,"April 03, 2024",PHOENIX#123,West,False,2033.1
7,79506,3389,@ alice !,Phone,Accessories,9,$674.73,"July 14, 2024",HOUSTON#123,North,True,6072.57
8,55148,1287,@ david !,Laptop,Accessories,2,$330.38,09-01-2024,HOUSTON#123,East,False,660.76
9,24564,3745,@ bob !,Tablet,Accessories,8,$686.34,23/04/2023,PHOENIX#123,North,False,5490.72

In [ ]:
data.tail(10)

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
100090,87473,6459,@ eva !,Phone,Electronics,7,$971.5,12/10/2023,PHOENIX#123,South,False,6800.5
100091,46252,4130,@ bob !,Phone,Accessories,7,$348.02,2024-06-01,CHICAGO#123,South,False,2436.14
100092,6769,5466,@ eva !,Keyboard,Accessories,3,$752.28,2023-08-09,LOS ANGELES#123,West,False,2256.84
100093,29838,8422,@ eva !,Monitor,NaN,8,$302.33,09/04/2023,CHICAGO#123,South,False,2418.64
100094,40937,2341,@ eva !,Tablet,Accessories,4,$736.55,"March 12, 2024",NEW YORK#123,East,True,2946.2
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,NaN,West,False,937.34
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,CHICAGO#123,South,True,6752.9
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",NEW YORK#123,West,False,2533.3
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,CHICAGO#123,North,False,760.99

In [ ]:
# 3.	Convert OrderDate to datetime type.
data['OrderDate']=pd.to_datetime(data['OrderDate'],errors='coerce')

/tmp/ipython-input-183597532.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['OrderDate']=pd.to_datetime(data['OrderDate'],errors='coerce')

In [ ]:
# 4.	Display the total number of unique customers.
data['CustomerID'].nunique()

8999

In [ ]:
#24.Display all customers who bought both "Phone" and "Laptop".
print("unique product categories",data['Category'].unique())
print("num of product categories",data['Category'].nunique())

unique product categories ['Electronics' 'Accessories' nan]
num of product categories 2

In [ ]:
# 6.	Filter all orders made in the city of "Los Angeles".
data[data["city"]=="los angeles"]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,city
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,NaT,PHOENIX#123,South,False,870.54,los angeles
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,2024-05-02,HOUSTON#123,West,False,720.1,los angeles
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,2024-11-08,NEW YORK#123,East,False,1673.37,los angeles
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,NaT,CHICAGO#123,North,False,2761.0,los angeles
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,NaT,CHICAGO#123,East,False,1644.8,los angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,NaN,West,False,937.34,los angeles
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,NaT,CHICAGO#123,South,True,6752.9,los angeles
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,los angeles
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,2023-10-22,NEW YORK#123,West,False,2533.3,los angeles
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,2023-03-26,CHICAGO#123,North,False,760.99,los angeles

In [ ]:
# 7. Select orders where quantity is more than 5.
# Convert 'Quantity' column to numeric, coercing errors to NaN
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')

# Filter out rows where Quantity is NaN (if any after coercion) before comparison
filtered_data = data[data['Quantity'] > 5]
print(filtered_data)

        OrderID  CustomerID CustomerName   Product     Category  Quantity  \
7         79506        3389    @ alice !     Phone  Accessories       9.0
9         24564        3745      @ bob !    Tablet  Accessories       8.0
13        69640        1481      @ bob !     Phone  Accessories       6.0
17        23495        1514      @ bob !    Tablet  Electronics       9.0
18        86339        3999      @ eva !    Laptop  Electronics       9.0
...         ...         ...          ...       ...          ...       ...
100090    87473        6459      @ eva !     Phone  Electronics       7.0
100091    46252        4130      @ bob !     Phone  Accessories       7.0
100093    29838        8422      @ eva !   Monitor          NaN       8.0
100097     7354        2439      @ bob !    Laptop  Electronics       8.0
100098    52126        2810    @ alice !  Keyboard  Electronics       7.0

           Price  OrderDate             City Region  Returned TotalAmount  \
7        $674.73 2024-07-14      HOUSTON#123  North      True     6072.57
9        $686.34 2023-04-23      PHOENIX#123  North     False     5490.72
13       $173.41 2023-11-26      HOUSTON#123   West     False     1040.46
17       $212.04 2023-07-09      CHICAGO#123   East     False     1908.36
18      $1070.42 2024-04-29  LOS ANGELES#123   West     False     9633.78
...          ...        ...              ...    ...       ...         ...
100090    $971.5 2023-12-10      PHOENIX#123  South     False      6800.5
100091   $348.02 2024-06-01      CHICAGO#123  South     False     2436.14
100093   $302.33 2023-09-04      CHICAGO#123  South     False     2418.64
100097   $330.46 2024-10-05  LOS ANGELES#123   East     False     2643.68
100098    $361.9 2023-10-22     NEW YORK#123   West     False      2533.3

               city
7       los angeles
9       los angeles
13      los angeles
17      los angeles
18      los angeles
...             ...
100090  los angeles
100091  los angeles
100093  los angeles
100097  los angeles
100098  los angeles

[43860 rows x 13 columns]

In [ ]:
# 8. Add a new column UnitTotal = Quantity * Price and compare with Totalamount.flag mismatches
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

# Clean 'TotalAmount' column: convert to numeric
data['TotalAmount'] = pd.to_numeric(data['TotalAmount'], errors='coerce')

# Calculate UnitTotal
data['UnitTotal'] = data['Quantity'] * data['Price']

# Compare UnitTotal with TotalAmount and flag mismatches
data['mismatch'] = data['UnitTotal'] != data['TotalAmount']

print(data['mismatch'].value_counts())

mismatch
False    91962
True      8138
Name: count, dtype: int64

In [ ]:
# 9.	Create a new column DiscountApplied (True if UnitTotal > TotalAmount).
data['DiscountApplied']=data['UnitTotal']> data['TotalAmount']
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,city,UnitTotal,mismatch,DiscountApplied
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,los angeles,870.54,False,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,los angeles,720.10,False,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,los angeles,1673.37,False,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,los angeles,2761.00,False,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,los angeles,1644.80,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,NaN,West,False,937.34,los angeles,937.34,False,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,NaT,CHICAGO#123,South,True,6752.90,los angeles,6752.90,False,False
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,los angeles,2643.68,False,False
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,2023-10-22,NEW YORK#123,West,False,2533.30,los angeles,2533.30,True,False
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,los angeles,760.99,False,False

In [ ]:
# 11.	Filter all returned orders.
data[data['Returned']==True]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,city,UnitTotal,mismatch
7,79506,3389,@ alice !,Phone,Accessories,9.0,674.73,2024-07-14,HOUSTON#123,North,True,6072.57,los angeles,6072.57,False
15,5103,1382,@ eva !,Phone,Accessories,1.0,504.94,2023-03-07,NEW YORK#123,West,True,504.94,los angeles,504.94,False
21,87250,2818,@ alice !,Phone,Electronics,3.0,1188.93,2024-02-27,LOS ANGELES#123,North,True,3566.79,los angeles,3566.79,False
31,81349,3421,@ eva !,Laptop,Accessories,7.0,1383.91,2024-05-18,LOS ANGELES#123,West,True,9687.37,los angeles,9687.37,False
53,50549,8174,@ eva !,Monitor,Electronics,5.0,1358.43,NaT,HOUSTON#123,South,True,6792.15,los angeles,6792.15,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100031,53849,7723,@ alice !,Keyboard,Electronics,4.0,947.33,2023-04-14,CHICAGO#123,North,True,3789.32,los angeles,3789.32,False
100041,94461,5550,@ charlie !,Keyboard,Electronics,7.0,1479.18,2023-05-29,PHOENIX#123,East,True,10354.26,los angeles,10354.26,False
100061,48148,6197,@ bob !,Tablet,Accessories,3.0,670.62,2024-09-13,LOS ANGELES#123,South,True,2011.86,los angeles,2011.86,True
100094,40937,2341,@ eva !,Tablet,Accessories,4.0,736.55,2024-03-12,NEW YORK#123,East,True,2946.20,los angeles,2946.20,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,NaT,CHICAGO#123,South,True,6752.90,los angeles,6752.90,False

In [ ]:
# 12.	Show top 5 cities by number of orders.
data['city'].value_counts().head(5)

city
los angeles    100100
Name: count, dtype: int64

In [ ]:
# 13.	What are the top 3 most sold products (by quantity)?
data['Product'].value_counts().head(3)

Product
Phone       19738
Laptop      19672
Keyboard    19626
Name: count, dtype: int64

In [ ]:
original_data=pd.read_csv("/content/drive/MyDrive/data for aSSIGNMENT/Advanced_Dirty_Sales_Dataset.csv")
data=original_data.copy()
# renamed_data=data.rename(columns={'CustomerName':'CustName'})
# renamed_data

In [ ]:
data.head()

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,False,1644.8

In [ ]:
# 15.Check and count missing values in each column.
data.isnull().sum()

OrderID            0
CustomerID         0
CustomerName       0
Product         2001
Category        2003
Quantity           0
Price           1001
OrderDate          0
City            2002
Region             0
Returned           0
TotalAmount        0
dtype: int64

In [ ]:
# 16.	Fill missing values in City (if any) with "Unknown".
data['City']=data['City'].fillna('Unknown',inplace=True)
data

/tmp/ipython-input-3598169273.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['City']=data['City'].fillna('Unknown',inplace=True)

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,None,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,None,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,None,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,None,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,None,East,False,1644.8
...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,None,West,False,937.34
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,None,South,True,6752.9
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,None,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",None,West,False,2533.3
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,None,North,False,760.99

In [ ]:
# 17.	Remove duplicates based on OrderID.
data.drop_duplicates(subset='OrderID',inplace=True)
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,None,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,None,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,None,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,None,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,None,East,False,1644.8
...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,None,West,False,937.34
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,None,South,True,6752.9
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,None,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",None,West,False,2533.3
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,None,North,False,760.99

In [ ]:
# 18.	Sort the data by TotalAmount in descending order.
data=data.sort_values(by='TotalAmount',ascending=False)
print(data)

       OrderID  CustomerID CustomerName   Product     Category Quantity  \
67277    97508        9454      @ eva !    Laptop  Accessories     five
40452    42046        1223      @ eva !       NaN  Accessories     five
90319    20694        2142      @ eva !    Tablet  Accessories     five
19388    94603        4889  @ charlie !   Monitor  Accessories     five
83973    80780        4256  @ charlie !  Keyboard  Accessories     five
...        ...         ...          ...       ...          ...      ...
56485    13067        8008    @ david !    Laptop  Electronics        1
22792    16646        3321    @ david !     Phone  Electronics        1
31137    97337        1780    @ david !   Monitor  Accessories        1
34394    90146        3911    @ david !    Tablet  Electronics        1
55477    30095        8623      @ bob !    Tablet  Accessories        1

         Price     OrderDate  City Region  Returned TotalAmount
67277      NaN    06-18-2023  None  North     False        free
40452      NaN    31/10/2023  None  South     False        free
90319      NaN  May 06, 2024  None   East     False        free
19388      NaN    2024-02-20  None  South     False        free
83973      NaN    32/13/2023  None  North     False        free
...        ...           ...   ...    ...       ...         ...
56485  $100.41    06-23-2024  None   West     False      100.41
22792  $100.36    12-12-2024  None   East     False      100.36
31137  $100.34    32/13/2023  None   West     False      100.34
34394  $100.19    2023-04-29  None  North      True      100.19
55477  $100.07    32/13/2023  None   East     False      100.07

[100000 rows x 12 columns]

In [ ]:
# 19.	Get the top 5 orders with the highest total amount.
data.sort_values(by='TotalAmount',ascending=False).head(5)
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
67277,97508,9454,@ eva !,Laptop,Accessories,five,NaN,06-18-2023,None,North,False,free
40452,42046,1223,@ eva !,NaN,Accessories,five,NaN,31/10/2023,None,South,False,free
90319,20694,2142,@ eva !,Tablet,Accessories,five,NaN,"May 06, 2024",None,East,False,free
19388,94603,4889,@ charlie !,Monitor,Accessories,five,NaN,2024-02-20,None,South,False,free
83973,80780,4256,@ charlie !,Keyboard,Accessories,five,NaN,32/13/2023,None,North,False,free
...,...,...,...,...,...,...,...,...,...,...,...,...
56485,13067,8008,@ david !,Laptop,Electronics,1,$100.41,06-23-2024,None,West,False,100.41
22792,16646,3321,@ david !,Phone,Electronics,1,$100.36,12-12-2024,None,East,False,100.36
31137,97337,1780,@ david !,Monitor,Accessories,1,$100.34,32/13/2023,None,West,False,100.34
34394,90146,3911,@ david !,Tablet,Electronics,1,$100.19,2023-04-29,None,North,True,100.19
55477,30095,8623,@ bob !,Tablet,Accessories,1,$100.07,32/13/2023,None,East,False,100.07

In [ ]:
# 20. Extract year and month from OrderDate.
# Re-convert 'OrderDate' to datetime type as it was reset by a previous operation.
data['OrderDate']=pd.to_datetime(data['OrderDate'],errors='coerce')
data['year']=data['OrderDate'].dt.year
data['month']=data['OrderDate'].dt.month
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,year,month
67277,97508,9454,@ eva !,Laptop,Accessories,five,NaN,2023-06-18,None,North,False,free,2023.0,6.0
40452,42046,1223,@ eva !,NaN,Accessories,five,NaN,NaT,None,South,False,free,NaN,NaN
90319,20694,2142,@ eva !,Tablet,Accessories,five,NaN,NaT,None,East,False,free,NaN,NaN
19388,94603,4889,@ charlie !,Monitor,Accessories,five,NaN,NaT,None,South,False,free,NaN,NaN
83973,80780,4256,@ charlie !,Keyboard,Accessories,five,NaN,NaT,None,North,False,free,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56485,13067,8008,@ david !,Laptop,Electronics,1,$100.41,2024-06-23,None,West,False,100.41,2024.0,6.0
22792,16646,3321,@ david !,Phone,Electronics,1,$100.36,2024-12-12,None,East,False,100.36,2024.0,12.0
31137,97337,1780,@ david !,Monitor,Accessories,1,$100.34,NaT,None,West,False,100.34,NaN,NaN
34394,90146,3911,@ david !,Tablet,Electronics,1,$100.19,NaT,None,North,True,100.19,NaN,NaN
55477,30095,8623,@ bob !,Tablet,Accessories,1,$100.07,NaT,None,East,False,100.07,NaN,NaN

In [ ]:
# 21.Create a new column OrderMonth with full month names.
data['OrderMonth']=data['OrderDate'].dt.strftime('%B')
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,year,month,OrderMonth
67277,97508,9454,@ eva !,Laptop,Accessories,five,NaN,2023-06-18,None,North,False,free,2023.0,6.0,June
40452,42046,1223,@ eva !,NaN,Accessories,five,NaN,NaT,None,South,False,free,NaN,NaN,NaN
90319,20694,2142,@ eva !,Tablet,Accessories,five,NaN,NaT,None,East,False,free,NaN,NaN,NaN
19388,94603,4889,@ charlie !,Monitor,Accessories,five,NaN,NaT,None,South,False,free,NaN,NaN,NaN
83973,80780,4256,@ charlie !,Keyboard,Accessories,five,NaN,NaT,None,North,False,free,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56485,13067,8008,@ david !,Laptop,Electronics,1,$100.41,2024-06-23,None,West,False,100.41,2024.0,6.0,June
22792,16646,3321,@ david !,Phone,Electronics,1,$100.36,2024-12-12,None,East,False,100.36,2024.0,12.0,December
31137,97337,1780,@ david !,Monitor,Accessories,1,$100.34,NaT,None,West,False,100.34,NaN,NaN,NaN
34394,90146,3911,@ david !,Tablet,Electronics,1,$100.19,NaT,None,North,True,100.19,NaN,NaN,NaN
55477,30095,8623,@ bob !,Tablet,Accessories,1,$100.07,NaT,None,East,False,100.07,NaN,NaN,NaN

In [ ]:
# 22. Show all orders from Q1 of any year (JanMar).
data[(data['month']>=1) & (data['month']>=3)]
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,year,month,OrderMonth
67277,97508,9454,@ eva !,Laptop,Accessories,five,NaN,2023-06-18,None,North,False,free,2023.0,6.0,June
40452,42046,1223,@ eva !,NaN,Accessories,five,NaN,NaT,None,South,False,free,NaN,NaN,NaN
90319,20694,2142,@ eva !,Tablet,Accessories,five,NaN,NaT,None,East,False,free,NaN,NaN,NaN
19388,94603,4889,@ charlie !,Monitor,Accessories,five,NaN,NaT,None,South,False,free,NaN,NaN,NaN
83973,80780,4256,@ charlie !,Keyboard,Accessories,five,NaN,NaT,None,North,False,free,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56485,13067,8008,@ david !,Laptop,Electronics,1,$100.41,2024-06-23,None,West,False,100.41,2024.0,6.0,June
22792,16646,3321,@ david !,Phone,Electronics,1,$100.36,2024-12-12,None,East,False,100.36,2024.0,12.0,December
31137,97337,1780,@ david !,Monitor,Accessories,1,$100.34,NaT,None,West,False,100.34,NaN,NaN,NaN
34394,90146,3911,@ david !,Tablet,Electronics,1,$100.19,NaT,None,North,True,100.19,NaN,NaN,NaN
55477,30095,8623,@ bob !,Tablet,Accessories,1,$100.07,NaT,None,East,False,100.07,NaN,NaN,NaN

In [ ]:
# 23.Count number of orders for each region.
import pandas as pd
import numpy as np
data=pd.read_csv("/content/drive/MyDrive/data for aSSIGNMENT/Advanced_Dirty_Sales_Dataset.csv")
data=data['Region'].value_counts()
print(data)

Region
East     25130
North    25051
South    25012
West     24907
Name: count, dtype: int64

In [ ]:
# 24.Display all customers who bought both "Phone" and "Laptop".
phone_customers = data[data['Product'] == 'Phone']['CustomerID']
laptop_customers = data[data['Product'] == 'Laptop']['CustomerID']
both_products = pd.merge(phone_customers, laptop_customers, on='CustomerID', how='inner')
print(both_products)

       CustomerID
0            3389
1            3389
2            3389
3            1481
4            1481
...           ...
43185        3843
43186        3843
43187        3843
43188        3843
43189        4130

[43190 rows x 1 columns]

In [ ]:
# 25.Convert all city names to uppercase and restore them back.
data['City']=data['City'].str.upper()
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,False,1644.8
...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,NaN,West,False,937.34
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,CHICAGO#123,South,True,6752.9
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",NEW YORK#123,West,False,2533.3
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,CHICAGO#123,North,False,760.99

In [ ]:
# 26. Find average price of each category.
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

# Calculate the average price of each category
average_price_per_category = data.groupby('Category')['Price'].mean()
print(average_price_per_category)

Category
Accessories    801.553280
Electronics    798.945226
Name: Price, dtype: float64

In [ ]:
# 27.Use groupby() to find total sales by Region.
total_sales_by_region=data.groupby('Region')['TotalAmount'].sum()
print(total_sales_by_region)

Region
East     1673.371644.8660.76755.2954.111908.361093.2643...
North    2761.06072.575490.721538.373566.791357.0136.34...
South    870.545445.362645.521284.542137.714937.046792....
West     720.1415.122033.11040.46504.946695.19633.78359...
Name: TotalAmount, dtype: object

In [ ]:
# 28.	Save only East region data to a CSV file.
east_region_data=data[data['Region']=='East']
east_region_data.to_csv('east_region_data.csv',index=False)
print(east_region_data)

        OrderID  CustomerID CustomerName   Product     Category Quantity  \
2         75847        4098  @ charlie !    Laptop  Accessories        3
4          1854        8842      @ eva !    Laptop  Accessories        4
8         55148        1287    @ david !    Laptop  Accessories        2
11        36423        6745  @ charlie !    Laptop  Electronics        4
14        13329        6758    @ david !  Keyboard  Accessories        1
...         ...         ...          ...       ...          ...      ...
100079    90445        6611  @ charlie !  Keyboard  Accessories        2
100081    11600        8960      @ bob !  Keyboard  Accessories        1
100082    44707        7179  @ charlie !  Keyboard  Electronics        9
100094    40937        2341      @ eva !    Tablet  Accessories        4
100097     7354        2439      @ bob !    Laptop  Electronics        8

          Price       OrderDate             City Region  Returned TotalAmount
2        557.79      11/08/2024     NEW YORK#123   East     False     1673.37
4        411.20      32/13/2023      CHICAGO#123   East     False      1644.8
8        330.38      09-01-2024      HOUSTON#123   East     False      660.76
11       188.80      14/10/2023      HOUSTON#123   East     False       755.2
14       954.11      32/13/2023      CHICAGO#123   East     False      954.11
...         ...             ...              ...    ...       ...         ...
100079   255.23      10/06/2023      HOUSTON#123   East     False      510.46
100081  1147.33      12-07-2023      CHICAGO#123   East     False     1147.33
100082  1125.69      22/02/2023      PHOENIX#123   East     False    10131.21
100094   736.55  March 12, 2024     NEW YORK#123   East      True      2946.2
100097   330.46      2024-10-05  LOS ANGELES#123   East     False     2643.68

[25130 rows x 12 columns]

In [ ]:
# 29.	Reset and set index using OrderID.
data=data.reset_index(drop=True)
data_index=data.set_index('OrderID')
print(data)
print(data_index)

        OrderID  CustomerID CustomerName   Product     Category Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics        1
1         23355        9138  @ charlie !   Monitor  Electronics        5
2         75847        4098  @ charlie !    Laptop  Accessories        3
3         95176        2391      @ eva !   Monitor  Electronics        5
4          1854        8842      @ eva !    Laptop  Accessories        4
...         ...         ...          ...       ...          ...      ...
100095    95426        5376    @ alice !  Keyboard  Electronics        2
100096    77181        6047    @ alice !  Keyboard  Accessories        5
100097     7354        2439      @ bob !    Laptop  Electronics        8
100098    52126        2810    @ alice !  Keyboard  Electronics        7
100099    80766        5705    @ david !    Tablet  Electronics        1

          Price         OrderDate             City Region  Returned  \
0        870.54        32/13/2023      PHOENIX#123  South     False
1        144.02        05-02-2024      HOUSTON#123   West     False
2        557.79        11/08/2024     NEW YORK#123   East     False
3        552.20        32/13/2023      CHICAGO#123  North     False
4        411.20        32/13/2023      CHICAGO#123   East     False
...         ...               ...              ...    ...       ...
100095   468.67        2023-08-14              NaN   West     False
100096  1350.58        32/13/2023      CHICAGO#123  South      True
100097   330.46        2024-10-05  LOS ANGELES#123   East     False
100098   361.90  October 22, 2023     NEW YORK#123   West     False
100099   760.99        26/03/2023      CHICAGO#123  North     False

       TotalAmount
0           870.54
1            720.1
2          1673.37
3           2761.0
4           1644.8
...            ...
100095      937.34
100096      6752.9
100097     2643.68
100098      2533.3
100099      760.99

[100100 rows x 12 columns]
         CustomerID CustomerName   Product     Category Quantity    Price  \
OrderID
44770          8192  @ charlie !  Keyboard  Electronics        1   870.54
23355          9138  @ charlie !   Monitor  Electronics        5   144.02
75847          4098  @ charlie !    Laptop  Accessories        3   557.79
95176          2391      @ eva !   Monitor  Electronics        5   552.20
1854           8842      @ eva !    Laptop  Accessories        4   411.20
...             ...          ...       ...          ...      ...      ...
95426          5376    @ alice !  Keyboard  Electronics        2   468.67
77181          6047    @ alice !  Keyboard  Accessories        5  1350.58
7354           2439      @ bob !    Laptop  Electronics        8   330.46
52126          2810    @ alice !  Keyboard  Electronics        7   361.90
80766          5705    @ david !    Tablet  Electronics        1   760.99

                OrderDate             City Region  Returned TotalAmount
OrderID
44770          32/13/2023      PHOENIX#123  South     False      870.54
23355          05-02-2024      HOUSTON#123   West     False       720.1
75847          11/08/2024     NEW YORK#123   East     False     1673.37
95176          32/13/2023      CHICAGO#123  North     False      2761.0
1854           32/13/2023      CHICAGO#123   East     False      1644.8
...                   ...              ...    ...       ...         ...
95426          2023-08-14              NaN   West     False      937.34
77181          32/13/2023      CHICAGO#123  South      True      6752.9
7354           2024-10-05  LOS ANGELES#123   East     False     2643.68
52126    October 22, 2023     NEW YORK#123   West     False      2533.3
80766          26/03/2023      CHICAGO#123  North     False      760.99

[100100 rows x 11 columns]

In [ ]:
# 30.Display all orders placed on a weekend.
data['OrderDate'] = pd.to_datetime(data['OrderDate'], errors='coerce')
weekend_orders = data[data['OrderDate'].dt.dayofweek >= 5]
print(weekend_orders)

/tmp/ipython-input-999071360.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['OrderDate'] = pd.to_datetime(data['OrderDate'], errors='coerce')

        OrderID  CustomerID CustomerName   Product     Category Quantity  \
5         56788        6935    @ david !   Monitor  Electronics        1
7         79506        3389    @ alice !     Phone  Accessories        9
8         55148        1287    @ david !    Laptop  Accessories        2
9         24564        3745      @ bob !    Tablet  Accessories        8
10        60114        6368    @ alice !    Laptop  Accessories        3
...         ...         ...          ...       ...          ...      ...
100090    87473        6459      @ eva !     Phone  Electronics        7
100091    46252        4130      @ bob !     Phone  Accessories        7
100097     7354        2439      @ bob !    Laptop  Electronics        8
100098    52126        2810    @ alice !  Keyboard  Electronics        7
100099    80766        5705    @ david !    Tablet  Electronics        1

         Price  OrderDate             City Region  Returned TotalAmount
5       415.12 2024-10-06  LOS ANGELES#123   West     False      415.12
7       674.73 2024-07-14      HOUSTON#123  North      True     6072.57
8       330.38 2024-09-01      HOUSTON#123   East     False      660.76
9       686.34 2023-04-23      PHOENIX#123  North     False     5490.72
10      512.79 2023-08-05     NEW YORK#123  North     False     1538.37
...        ...        ...              ...    ...       ...         ...
100090  971.50 2023-12-10      PHOENIX#123  South     False      6800.5
100091  348.02 2024-06-01      CHICAGO#123  South     False     2436.14
100097  330.46 2024-10-05  LOS ANGELES#123   East     False     2643.68
100098  361.90 2023-10-22     NEW YORK#123   West     False      2533.3
100099  760.99 2023-03-26      CHICAGO#123  North     False      760.99

[22911 rows x 12 columns]

In [ ]:
# 31.Create a pivot table of TotalAmount by Region and Category.
pivot_table=data.pivot_table(values='TotalAmount',index='Region',columns='Category',aggfunc='sum',margins=True)
print(pivot_table)

Category                                        Accessories  \
Region
East      1673.371644.8660.76954.113148.2300000000005461...
North     6072.575490.721538.371418.979848.33799.3377.11...
South     5445.361284.544684.763273.342114.822428.653633...
West      1040.46504.946695.13592.642040.789687.375421.9...
All       1673.371644.86072.57660.765490.721538.375445.3...

Category                                        Electronics  \
Region
East      755.21908.361093.264364.700000000001638.885258...
North     2761.03566.791357.0136.34686.062351.43729.8764...
South     870.542645.522137.714937.046792.15000000000134...
West      720.1415.122033.19633.78816.92145.522561.98639...
All       870.54720.12761.0415.122033.1755.21908.369633....

Category                                                All
Region
East      1673.371644.8660.76755.2954.111908.361093.2643...
North     2761.06072.575490.721538.373566.791357.0136.34...
South     870.545445.362645.521284.542137.714937.046792....
West      720.1415.122033.11040.46504.946695.19633.78359...
All       870.54720.11673.372761.01644.8415.122033.16072...

In [ ]:
# 32.Unpivot (melt) the pivot table from Task
pivot_reset=pivot_table.reset_index()
melted_table=pivot_reset.melt(id_vars='Region',var_name='Category',value_name='TotalAmount')
print(melted_table)

   Region     Category                                        TotalAmount
0    East  Accessories  1673.371644.8660.76954.113148.2300000000005461...
1   North  Accessories  6072.575490.721538.371418.979848.33799.3377.11...
2   South  Accessories  5445.361284.544684.763273.342114.822428.653633...
3    West  Accessories  1040.46504.946695.13592.642040.789687.375421.9...
4     All  Accessories  1673.371644.86072.57660.765490.721538.375445.3...
5    East  Electronics  755.21908.361093.264364.700000000001638.885258...
6   North  Electronics  2761.03566.791357.0136.34686.062351.43729.8764...
7   South  Electronics  870.542645.522137.714937.046792.15000000000134...
8    West  Electronics  720.1415.122033.19633.78816.92145.522561.98639...
9     All  Electronics  870.54720.12761.0415.122033.1755.21908.369633....
10   East          All  1673.371644.8660.76755.2954.111908.361093.2643...
11  North          All  2761.06072.575490.721538.373566.791357.0136.34...
12  South          All  870.545445.362645.521284.542137.714937.046792....
13   West          All  720.1415.122033.11040.46504.946695.19633.78359...
14    All          All  870.54720.11673.372761.01644.8415.122033.16072...

In [ ]:
# 33.Use groupby() to get average Price by Product and Region.
average_group = data.groupby(['Product', 'Region'])['Price'].mean()
print(average_group)

Product   Region
Keyboard  East      792.978739
          North     800.111859
          South     802.419370
          West      792.614988
Laptop    East      804.949776
          North     814.811398
          South     801.517062
          West      793.726967
Monitor   East      802.803601
          North     788.955842
          South     793.167280
          West      803.838535
Phone     East      793.719012
          North     800.904670
          South     805.499545
          West      800.988814
Tablet    East      811.730826
          North     807.827802
          South     798.652803
          West      796.095443
Name: Price, dtype: float64

In [ ]:
# 34.Use .agg() to get min, max, and mean quantity for each category.
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')

data_agg_result = data.groupby('Category')['Quantity'].agg(['min','max','mean'])
print(data_agg_result)

             min  max      mean
Category
Accessories  1.0  9.0  4.995743
Electronics  1.0  9.0  4.979949

In [ ]:
# 35.Create a lookup table for CustomerID and CustomerName and remove duplicates.
lookup_table=data[['CustomerID','CustomerName']].drop_duplicates()
print(lookup_table)

        CustomerID CustomerName
0             8192  @ charlie !
1             9138  @ charlie !
2             4098  @ charlie !
3             2391      @ eva !
4             8842      @ eva !
...            ...          ...
100029        8276      @ bob !
100054        4222      @ eva !
100081        8960      @ bob !
100089        6732      @ eva !
100092        5466      @ eva !

[40134 rows x 2 columns]

In [ ]:
# 36.Create a lookup for Product and Category, remove duplicates.
lookup_table=data[['Product','Category']].drop_duplicates()
print(lookup_table)

       Product     Category
0     Keyboard  Electronics
1      Monitor  Electronics
2       Laptop  Accessories
6       Tablet  Electronics
7        Phone  Accessories
9       Tablet  Accessories
11      Laptop  Electronics
14    Keyboard  Accessories
21       Phone  Electronics
32     Monitor  Accessories
77     Monitor          NaN
95         NaN  Accessories
127        NaN  Electronics
132     Tablet          NaN
151   Keyboard          NaN
240     Laptop          NaN
717      Phone          NaN
2207       NaN          NaN

In [ ]:
import pandas as pd

# 37.Merge back the lookups with the main file (simulate master lookup join).

# Reload original data to ensure a clean slate for this merge and subsequent comparison
original_data_for_merge = pd.read_csv("/content/drive/MyDrive/data for aSSIGNMENT/Advanced_Dirty_Sales_Dataset.csv")
data = original_data_for_merge.copy()
customer_lookup_table = original_data_for_merge[['CustomerID', 'CustomerName']].drop_duplicates(subset=['CustomerID'])
data = pd.merge(data, customer_lookup_table.set_index('CustomerID'), on='CustomerID', how='left', suffixes=('_Original', '_Lookup'))

print(data.head())

   OrderID  CustomerID CustomerName_Original   Product     Category Quantity  \
0    44770        8192           @ charlie !  Keyboard  Electronics        1
1    23355        9138           @ charlie !   Monitor  Electronics        5
2    75847        4098           @ charlie !    Laptop  Accessories        3
3    95176        2391               @ eva !   Monitor  Electronics        5
4     1854        8842               @ eva !    Laptop  Accessories        4

     Price   OrderDate          City Region  Returned TotalAmount  \
0  $870.54  32/13/2023   PHOENIX#123  South     False      870.54
1  $144.02  05-02-2024   HOUSTON#123   West     False       720.1
2  $557.79  11/08/2024  NEW YORK#123   East     False     1673.37
3   $552.2  32/13/2023   CHICAGO#123  North     False      2761.0
4   $411.2  32/13/2023   CHICAGO#123   East     False      1644.8

  CustomerName_Lookup
0         @ charlie !
1         @ charlie !
2         @ charlie !
3             @ eva !
4             @ eva !

In [ ]:
# 39.Calculate return rate % by region (total returned orders / total orders).
data['Returned']=data['Returned'].map({'yes':True,'no':False})
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,NaN,870.54,@ charlie !
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,NaN,720.1,@ charlie !
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,NaN,1673.37,@ charlie !
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,NaN,2761.0,@ eva !
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,NaN,1644.8,@ eva !
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,NaN,West,NaN,937.34,@ eva !
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,CHICAGO#123,South,NaN,6752.9,@ david !
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,NaN,2643.68,@ david !
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",NEW YORK#123,West,NaN,2533.3,@ charlie !
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,CHICAGO#123,North,NaN,760.99,@ charlie !

In [ ]:
# Create a new column DiscountedPrice assuming a flat 10% discount on all products.

# Convert 'Price' to numeric, removing '$' and handling potential errors
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

data['DiscountPrice'] = data['Price'] * 0.9
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup,DiscountPrice
0,44770,8192,@ charlie !,Keyboard,Electronics,1,870.54,32/13/2023,PHOENIX#123,South,NaN,870.54,@ charlie !,783.486
1,23355,9138,@ charlie !,Monitor,Electronics,5,144.02,05-02-2024,HOUSTON#123,West,NaN,720.1,@ charlie !,129.618
2,75847,4098,@ charlie !,Laptop,Accessories,3,557.79,11/08/2024,NEW YORK#123,East,NaN,1673.37,@ charlie !,502.011
3,95176,2391,@ eva !,Monitor,Electronics,5,552.20,32/13/2023,CHICAGO#123,North,NaN,2761.0,@ eva !,496.980
4,1854,8842,@ eva !,Laptop,Accessories,4,411.20,32/13/2023,CHICAGO#123,East,NaN,1644.8,@ eva !,370.080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,468.67,2023-08-14,NaN,West,NaN,937.34,@ eva !,421.803
100096,77181,6047,@ alice !,Keyboard,Accessories,5,1350.58,32/13/2023,CHICAGO#123,South,NaN,6752.9,@ david !,1215.522
100097,7354,2439,@ bob !,Laptop,Electronics,8,330.46,2024-10-05,LOS ANGELES#123,East,NaN,2643.68,@ david !,297.414
100098,52126,2810,@ alice !,Keyboard,Electronics,7,361.90,"October 22, 2023",NEW YORK#123,West,NaN,2533.3,@ charlie !,325.710
100099,80766,5705,@ david !,Tablet,Electronics,1,760.99,26/03/2023,CHICAGO#123,North,NaN,760.99,@ charlie !,684.891

In [ ]:
# Use .rolling() to calculate a 7-day rolling average of TotalAmount per city.
data['TotalAmount']=pd.to_numeric(data['TotalAmount'],errors='coerce')
data['TotalAmount'].rolling(window=7).mean()

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
100095    3156.365714
100096    3506.937143
100097    2913.105714
100098    2926.985714
100099    2713.292857
Name: TotalAmount, Length: 100100, dtype: float64

In [ ]:
# 54. Rank customers by their total revenue generated (TotalAmount) in descending order.
data['TotalAmount']=pd.to_numeric(data['TotalAmount'],errors='coerce')
data['TotalAmount'].rank(ascending=False)

17594    53127.0
20345    38177.0
33525    62558.0
42065    40402.0
49992      166.0
          ...
20363    45882.0
58967    79460.5
68465    51817.0
73467    37895.0
78642    43998.0
Name: TotalAmount, Length: 100100, dtype: float64

In [ ]:
# 55.Calculate the average order value per customer using groupby().
cust_orders=data.groupby('CustomerID')['TotalAmount'].mean()
print(cust_orders)

CustomerID
1000    3316.740714
1001    2728.613750
1002    3293.908750
1003    2863.965000
1004    2291.554444
           ...
9994    4331.444375
9995    4778.646190
9996    4078.016364
9997    4062.555000
9998    5318.008421
Name: TotalAmount, Length: 8999, dtype: float64

In [ ]:
# 56. Generate a report showing total quantity sold per Category per Region.
data['Quantity']=pd.to_numeric(data['Quantity'],errors='coerce')
data.groupby(['Category','Region'])['Quantity'].sum()

Category     Region
Accessories  East      60746.0
             North     60350.0
             South     60726.0
             West      59927.0
Electronics  East      61098.0
             North     60458.0
             South     60476.0
             West      60616.0
Name: Quantity, dtype: float64

In [ ]:
# 57.Use .agg() to compute multiple stats (sum, mean, min, max) for TotalAmount per Region.
data.groupby('Region')['TotalAmount'].agg(TotalSum='sum',mean='mean',min='min',max='max')

           TotalSum         mean     min       max
Region
East    99725660.81  4007.460752  100.07  13492.53
North   99066474.71  3997.839980  100.19  13491.45
South   99089901.41  4001.368980  101.10  13492.80
West    98470580.60  3991.511171  100.34  13499.91

In [ ]:
# 59.Convert the OrderDate to datetime and extract new columns: Year, Month, and       Weekday.
data['OrderDate']=pd.to_datetime(data['OrderDate'],errors='coerce')
data['Year']=data['OrderDate'].dt.year
data['Month']=data['OrderDate'].dt.month
data['Weekday']=data['OrderDate'].dt.weekday
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup,DiscountPrice,Cumulative_Revenue_Region,Year,Month,Weekday
17594,6422,1615,@ alice !,Tablet,Accessories,2.0,1427.44,2023-01-01,HOUSTON#123,East,NaN,2854.88,@ bob !,1284.696,2854.88,2023.0,1.0,6.0
20345,3725,3735,@ david !,Phone,Accessories,9.0,471.56,2023-01-01,LOS ANGELES#123,East,NaN,4244.04,@ bob !,424.404,7098.92,2023.0,1.0,6.0
33525,66981,4872,@ bob !,Tablet,Electronics,2.0,1103.28,2023-01-01,CHICAGO#123,East,NaN,2206.56,@ david !,992.952,9305.48,2023.0,1.0,6.0
42065,44307,9478,@ alice !,Keyboard,Electronics,6.0,670.94,2023-01-01,LOS ANGELES#123,East,NaN,4025.64,@ alice !,603.846,13331.12,2023.0,1.0,6.0
49992,45673,8425,@ alice !,Tablet,Accessories,9.0,1477.10,2023-01-01,PHOENIX#123,East,NaN,13293.90,@ david !,1329.390,26625.02,2023.0,1.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20363,57829,8446,@ david !,Laptop,NaN,3.0,1164.33,NaT,LOS ANGELES#123,West,NaN,3492.99,@ david !,1047.897,98458492.21,NaN,NaN,NaN
58967,80393,2719,@ david !,Laptop,Accessories,1.0,1197.45,NaT,PHOENIX#123,West,NaN,1197.45,@ bob !,1077.705,98459689.66,NaN,NaN,NaN
68465,47440,2114,@ bob !,Monitor,Electronics,2.0,1474.33,NaT,LOS ANGELES#123,West,NaN,2948.66,@ charlie !,1326.897,98462638.32,NaN,NaN,NaN
73467,15127,8646,@ bob !,Phone,Electronics,7.0,610.39,NaT,CHICAGO#123,West,NaN,4272.73,@ david !,549.351,98466911.05,NaN,NaN,NaN
78642,67837,5473,@ alice !,Monitor,Electronics,5.0,733.91,NaT,NEW YORK#123,West,NaN,3669.55,@ david !,660.519,98470580.60,NaN,NaN,NaN

In [ ]:
# 77.Create a column HighValueOrder where TotalAmount > 5000.
data['HighValueOrder'] = data['TotalAmount'] > 5000
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,DayOfWeek,HighValueOrder
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,$870.54,NaT,PHOENIX#123,South,False,870.54,NaN,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,$144.02,2024-05-02,HOUSTON#123,West,False,720.10,Thursday,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,$557.79,2024-11-08,NEW YORK#123,East,False,1673.37,Friday,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,$552.2,NaT,CHICAGO#123,North,False,2761.00,NaN,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,$411.2,NaT,CHICAGO#123,East,False,1644.80,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,$468.67,2023-08-14,NaN,West,False,937.34,Monday,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,$1350.58,NaT,CHICAGO#123,South,True,6752.90,NaN,True
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,Saturday,False
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,$361.9,2023-10-22,NEW YORK#123,West,False,2533.30,Sunday,False
100099,80766,5705,@ david !,Tablet,Electronics,1.0,$760.99,2023-03-26,CHICAGO#123,North,False,760.99,Sunday,False

In [ ]:
# 66. Extract only the first name from the CustomerName column.
data['CustomerName']=data['CustomerName'].str.split().str[0]
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,DayOfWeek,HighValueOrder
0,44770,8192,@,Keyboard,Electronics,1.0,$870.54,NaT,PHOENIX#123,South,False,870.54,NaN,False
1,23355,9138,@,Monitor,Electronics,5.0,$144.02,2024-05-02,HOUSTON#123,West,False,720.10,Thursday,False
2,75847,4098,@,Laptop,Accessories,3.0,$557.79,2024-11-08,NEW YORK#123,East,False,1673.37,Friday,False
3,95176,2391,@,Monitor,Electronics,5.0,$552.2,NaT,CHICAGO#123,North,False,2761.00,NaN,False
4,1854,8842,@,Laptop,Accessories,4.0,$411.2,NaT,CHICAGO#123,East,False,1644.80,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@,Keyboard,Electronics,2.0,$468.67,2023-08-14,NaN,West,False,937.34,Monday,False
100096,77181,6047,@,Keyboard,Accessories,5.0,$1350.58,NaT,CHICAGO#123,South,True,6752.90,NaN,True
100097,7354,2439,@,Laptop,Electronics,8.0,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,Saturday,False
100098,52126,2810,@,Keyboard,Electronics,7.0,$361.9,2023-10-22,NEW YORK#123,West,False,2533.30,Sunday,False
100099,80766,5705,@,Tablet,Electronics,1.0,$760.99,2023-03-26,CHICAGO#123,North,False,760.99,Sunday,False

In [ ]:
# 78. Flag suspicious orders where Quantity > 10 and Price > 1000.
# Convert 'Price' column to numeric, as it might have been reset in previous operations
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

data['suspicious']=((data['Quantity']>10) & (data['Price']>1000))
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,DayOfWeek,HighValueOrder,suspicious
0,44770,8192,@,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,NaN,False,False
1,23355,9138,@,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,Thursday,False,False
2,75847,4098,@,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,Friday,False,False
3,95176,2391,@,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,NaN,False,False
4,1854,8842,@,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@,Keyboard,Electronics,2.0,468.67,2023-08-14,NaN,West,False,937.34,Monday,False,False
100096,77181,6047,@,Keyboard,Accessories,5.0,1350.58,NaT,CHICAGO#123,South,True,6752.90,NaN,True,False
100097,7354,2439,@,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,Saturday,False,False
100098,52126,2810,@,Keyboard,Electronics,7.0,361.90,2023-10-22,NEW YORK#123,West,False,2533.30,Sunday,False,False
100099,80766,5705,@,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,Sunday,False,False

In [ ]:
# 83.Use .transform() to normalize TotalAmount within each Region.
import pandas as pd

# Ensure 'data' is loaded and is a DataFrame
data = pd.read_csv("/content/drive/MyDrive/data for aSSIGNMENT/Advanced_Dirty_Sales_Dataset.csv")

data['TotalAmount']=pd.to_numeric(data['TotalAmount'],errors='coerce')
data['normalized_total']=data.groupby('Region')['TotalAmount'].transform(lambda x: (x-x.mean())/x.std())
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,normalized_total
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,False,870.54,-1.019972
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,False,720.10,-1.061167
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,False,1673.37,-0.753412
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,False,2761.00,-0.402316
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,False,1644.80,-0.762634
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,NaN,West,False,937.34,-0.990700
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,CHICAGO#123,South,True,6752.90,0.896403
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,-0.440209
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",NEW YORK#123,West,False,2533.30,-0.473009
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,CHICAGO#123,North,False,760.99,-1.052873

In [ ]:
# 87.Create a product lookup DataFrame with unique Product, Category, and average Price.Save it.
product_lookup=data[['Product','Category','Price']].drop_duplicates()
product_lookup.to_csv('product_lookup.csv',index=False)
product_lookup

         Product     Category     Price
0       Keyboard  Electronics   $870.54
1        Monitor  Electronics   $144.02
2         Laptop  Accessories   $557.79
3        Monitor  Electronics    $552.2
4         Laptop  Accessories    $411.2
...          ...          ...       ...
100094    Tablet  Accessories   $736.55
100096  Keyboard  Accessories  $1350.58
100097    Laptop  Electronics   $330.46
100098  Keyboard  Electronics    $361.9
100099    Tablet  Electronics   $760.99

[95786 rows x 3 columns]

In [ ]:
# 86.Create a customer lookup DataFrame with unique CustomerID, CustomerName, and total orders. Save it.
# Calculate total orders for each customer
customer_orders_count = data.groupby(['CustomerID', 'CustomerName']).size().reset_index(name='TotalOrders')

# Create the customer lookup DataFrame
Customer_lookup = customer_orders_count[['CustomerID', 'CustomerName', 'TotalOrders']].drop_duplicates()

# Save the lookup table to a CSV file
Customer_lookup.to_csv('customer_lookup.csv', index=False)

# Display the lookup table
Customer_lookup

       CustomerID CustomerName  TotalOrders
0            1000    @ alice !            1
1            1000      @ bob !            1
2            1000  @ charlie !            4
3            1000    @ david !            5
4            1000      @ eva !            3
...           ...          ...          ...
40129        9998    @ alice !            6
40130        9998      @ bob !            4
40131        9998  @ charlie !            4
40132        9998    @ david !            3
40133        9998      @ eva !            3

[40134 rows x 3 columns]

In [ ]:
# 90.Analyze and visualize the top 5 customers and top 5 products contributing to revenue using the master file.
top5_customers = merged.groupby('CustomerName')['TotalAmount'].sum().sort_values(ascending=False).head(5)
top5_products = merged.groupby('Product')['TotalAmount'].sum().sort_values(ascending=False).head(5)

NameError: name 'merged' is not defined